.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.containerThumbnail {
    width: 95vw;
    position: absolute;
    padding-bottom: 61px;
}

.titlePage {
    color: #70716f;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: bold;
}